.DS_STORE
.DS_STORE?
*.swp
*.pyc

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

/build/
/bin/
/lib/
/swig/*.cxx
/swig/components/*.cxx
/swig/events/*.cxx
/python/flamingo/*
!/python/flamingo/__init__.py
!/python/flamingo/script.py
!/python/flamingo/inputmanager.py
!/python/flamingo/components/
/python/flamingo/components/*
!/python/flamingo/components/__init__.py

/test/FlamingoTest/FlamingoTest
/test/FlamingoTest/lib
/test/FlamingoTest/python

/include/FL/swigpyrun.h

/TODO

