.DS_STORE
.DS_STORE?
*.swp
*.pyc

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

/build/
/bin/
/lib/
/swig/*
!/swig/*.i
/python/flamingo/ext/*
!/python/flamingo/ext/__init__.py

/test/FlamingoTest/FlamingoTest
/test/FlamingoTest/lib
/test/FlamingoTest/python

/include/FL/swigpyrun.h

